# Python- und Virtual-Environment-spezifische Dateien:
*.pyc
*.pyo
*.pyd
__pycache__/
env/
venv/
bin/
lib/
include/
Scripts/

*.log
*.pot
*.py[cod]
*.sqlite3-journal

db.sqlite3

.DS_Store

media/
staticfiles/

static/

*.swp
*.swo
.idea/
.vscode/
.env
